<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <ExcludeByAttribute>GeneratedCodeAttribute,ExcludeFromCodeCoverageAttribute</ExcludeByAttribute>
          <ExcludeByFile>**/*.g.cs,**/*.generated.cs</ExcludeByFile>
          <Exclude>[*.Generated]*,[System.Runtime.CompilerServices]*,[*.Tests]*,[*.UnitTests]*,[*.IntegrationTests]*,[MyMinimalWebApp.Api.UnitTests]*,[MyMinimalWebApp.Api.IntegrationTests]*</Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
